


<img src="{{response.image}}" alt="cover.picture">
<div>
<a href="/movies">Go back</a>
<h1>{{response.title}}</h1>
<h2>Director: {{response.director}}</h2>
<h3>Stars</h3>
<ul>{{#each response.stars}}
 <li>{{this}}</li>
{{/each}}</ul>
<p>{{response.description}}</p>
{{#each response.showtimes}}
{{this}} |
{{/each}}

</div>